# ENV for Django
SECRET_KEY=""
DEBUG=True

# ENV for Gemini API to Make AI Agent
GEMINI_API_KEY=

# ENV for RazorPay Server
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Mail Service URL
MAIL_SERVICE_URL=http://127.0.0.1:80808/send-mail

# ENV for DataBase
DATABASE_URL= # PostGresSQL Connection URL

# ENV for Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

