# ENV for Django
SECRET_KEY=""
DEBUG=True

# ENV for Gemini API to Make AI Agent
GEMINI_API_KEY=

# ENV for RazorPay Server
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# ENV for Email Service
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587  # 587 is the default port for SMTP with TLS. You can change it if your email provider uses a different port.

# ENV for DataBase
DATABASE_URL= # PostGresSQL Connection URL

# ENV for Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

